/*
*           CSS ACCUEIL
*/




/*****************/
/* HEADER ACCUEIL*/

#headerAccueilContainer {
max-width: 100%;
max-height: 5rem;
height: 5rem;
display: flex;
justify-content: center;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
position: -webkit-sticky;
position: sticky;
top: 0px;
/* justify-content: flex-end; */
}

.link--HeaderAccueil{
    width:100%;
}

.navBarAccueil{
    /* position: relative; */
    justify-content: space-between;
    display: inline-flex;
}

.navBar__Logo{
    margin: -7.3rem 0 0 0;
    height: 5rem;
}

.headerAccueil--logo { 
    width: 20rem;
    /* position: absolute;
    top: -7.3rem;
    left: -1rem; */
}

.navBar__Btns{
    /* position: absolute;
    top: 0rem;
    right: 0rem; */
    display: inline-flex;
}

.BtnNewPost--Container{

}

/**********/
/*Button New Post*/ 
.newPostButton {
    height: 3.3rem;
    margin:  1.05rem 0 0.75rem 0;
    padding: 0 2rem;
    color: white;
    background-color: #f17e66;
    border-radius: 5px;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.newPostButton:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(54deg, #f17e66 15%, rgba(252,237,237,1) 20%, rgba(253,45,1,1) 100%);
    box-shadow: 0 4px 15px 0 rgba(253,45,1,1);
}

.newPostButton:focus {
    outline: none;
}

.new--link{
    text-decoration: none;
    color: white;
    display: block;
}


/**********/
/*DROPDOWN*/

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
    width: 2.8rem;
}


/* Dropdown button on hover & focus */
.dropbtn:hover:after, .dropbtn:focus:after {
    border-radius: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-flex;
}

/* Dropdown Content (Caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    right: 0;
}

/* Lien à l'intérieur du Dropdown */
.profil--link {
    color: black;
    padding: 1.2rem 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.profil--link:hover {
    background-color: #ddd;
    border-radius: 5px;
}

/* Bouton à l'intérieur du Dropdown */
.dropdown-content button {
    color: black;
    padding: 1.2rem 1rem;
    display: block;
    background-color:white;
    border: none;
    font: inherit;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #ddd;
    border-radius: 5px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}




/***********/
/*MAIN CONTENT*/

/* Main Container */
.accueil--main{
    background-color: #f5f6fa;
}

/* Link */
.post--link{
    text-decoration: none;
    display: block;
    color: black;
    width: 100%;
}

/* Div Post  */
.post--container{
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
    width: 60%;
    margin: 1rem 0;
    padding: 0;
    border-radius: 20px;
    border-left: 4px solid rgba(253,45,1,0.43);
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* H1 Nom et Date */
.h1__namesData{
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    color:  #f17e66;
    margin-bottom: .75rem;
}


/*H1 TITRE*/
.h1__postTitle{
    display: flex; 
}

/* Title */
.post__title{
    margin: 0;
    padding: 1.5rem 1rem 1rem 1rem;
    border-bottom: 1px dotted rgba(253,45,1,0.43);
}

/* Image (via Lien URL) */
.post__attachement{
    width: 100%
}

/* Box des boutons  */
.title__btn--container{
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    background-color: #fdfdfd;
    border-radius: 0 0 20px 20px;
}

/* Bouton Modifier  */
.btn__modif{
    height: 2.3rem;
    margin:  0 0.4rem 1.75rem 2rem;
    padding: 0 1.3rem;
    color: white;
    background-color: #f17e66;
    border-radius: 5px;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn__modif:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(54deg, #f17e66 15%, rgba(252,237,237,1) 20%, rgba(253,45,1,1) 100%);
    box-shadow: 0 4px 15px 0 rgba(253,45,1,1);
}


/* Bouton Supprimer */
.btn__suppr{
    height: 2.3rem;
    padding: 0 1.3rem;
    color: white;
    background-color: #fea347 ;
    border-radius: 5px;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin: 0 2rem 1.75rem 0.4rem;
}

.btn__suppr:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(54deg, #fea347 15%, rgba(252,237,237,1) 20%, #ff7f00 100%);
    box-shadow: 0 4px 15px 0 #ff7f00;
}



/* Container du content */
.postContent--container{
    background-color: #fdfdfd;
    padding: 0.3rem 2rem 1.75rem 2rem;
    border-radius: 0 0 20px 20px;
}



/***********/
/*LOGO MAIN*/

.mainAccueil--logo{
    width: 32rem;
}

.imgAccueil__container{
    margin: 5px 0 0 98%;
}





/*****************/
/* MEDIA-QUERIES */

@media (max-width: 1024px) {
    /* Appareils avec une résolution de 1024 pixels ou moins */
    .post--container{
        width: 85%;
    }
}

@media (max-width: 768px) {
    /* Appareils avec une résolution de 768 pixels ou moins */
    .post--container{
        width: 95%;
    }
}

@media (max-width: 608px) {
    /* Appareils avec une résolution de 608 pixels ou moins */
    #navBarAccueil{
        display: flex;
        flex-direction: column;
    }
}
