/*
*           CSS ACCUEIL
*/

/*****************/
/* HEADER ACCUEIL*/

#headerAccueilContainer {
max-width: 100%;
max-height: 5rem;
height: 5rem;
display: flex;
justify-content: center;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
position: -webkit-sticky;
position: sticky;
top: 0px;
}

.navBarAccueil{
position: relative;
}

.headerAccueil--logo { 
width: 20rem;
position:absolute;
top: -7.3rem;
left: -1rem;
}


/**********/
/*DROPDOWN*/

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
    width: 2.8rem;
}


/* Dropdown button on hover & focus */
.dropbtn:hover:after, .dropbtn:focus:after {
    border-radius: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    top: 1.3rem; 
    right: 1.7rem;
    display: inline-block;
}

/* Dropdown Content (Caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    right: 0;
}

/* Lien à l'intérieur du Dropdown */
.profil--link {
    color: black;
    padding: 1.2rem 1rem;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.profil--link:hover {
    background-color: #ddd;
    border-radius: 5px;
}

/* Bouton à l'intérieur du Dropdown */
.dropdown-content button {
    color: black;
    padding: 1.2rem 1rem;
    display: block;
    background-color:white;
    border: none;
    font: inherit;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    background-color: #ddd;
    border-radius: 5px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}




/***********/
/*MAIN CONTENT*/

/* Main Container */
.accueil--main{
    background-color: #f5f6fa;
}

/* Div Post  */
.post--container{
    background-color: white;
    min-width: 66%;
    margin: 3rem 0;
    padding: 0;
    border-radius: 20px;
    border-left: 4px solid rgba(253,45,1,0.43);
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Title */
.post__title{
    padding: 1.5rem 2rem 1rem 2rem;
    border-bottom: 1px dotted rgba(253,45,1,0.43);
}

/* Container du content */
.postContent--container{
    background-color: #fdfdfd;
    padding: .3rem 2rem;
    border-radius: 0 0 20px 20px;
}
/* Contenu */
.post__content{
    /* background-color: #fdfdfd;
    padding: 0.3rem 1.6rem;
    margin: 0; */
}

/* Attachement */
.post__attachement{
    /* background-color: #fdfdfd;
    padding: 0.3rem 1.6rem;
    margin: 0; */
}

/* Date */
.post__date{
    /* background-color: #fdfdfd;
    padding: 0.3rem 1.6rem;
    margin: 0; */
}

/* Créateur du post */
.post__creator{
    /* background-color: #fdfdfd;
    padding: 0.3rem 1.6rem;
    margin: 0; */
}




/***********/
/*LOGO MAIN*/

.mainAccueil--logo{
width: 32rem;
}

.imgAccueil__container{
margin: 0 0 0 98%;
}
