/*
*           CSS COMMENT POST
*/

/** MAIN **/
/* Main Container */
.comment--main{
    background-color: #f5f6fa;
    align-items: flex-start;
    padding: 2rem 0 0 20%;
}

/** Post **/
    /*Container des Post*/
.postContent--container__commentPost{
    border-radius: 0 0 20px 20px;
    padding: 0.3rem 2rem 1.75rem 2rem;
}

/** Commentaires **/
    /*Container des commentaires*/
.comment--container{
    background-color: white;
    min-width: 50%;
    border-radius: 20px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin: 0 0 1rem 0;
}

    /*Titre*/
.comment__title{
    margin: 0;
    padding: 0.75rem 0.5rem 0.5rem 1rem;
    border-bottom: 1px dotted #0153fd;
}

    /*H2 Titre*/
.h2__namesData{
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    color:  #f17e66;
}

    /*Text*/
.comment__text{
    background-color: #fdfdfd;
    padding: 1rem;
    margin: 0;
    border-radius: 0 0 20px 20px;
}

    /*Boutons Modifier, Supprimer*/
.comment__btn--container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0 0 1rem -1rem;
}

/*Formulaire commentaire commun (créer et modifier)*/
.comment__form{
    background-color: #fdfdfd;
    min-width: 50%;
    border-radius: 20px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;

}

/*Formulaire Créer Commentaire*/
.comment__form__create{
    display: block;
}

/*Formulaire Modifier Commentaire*/
.comment__form__modify{
    display: none;
}
/*Titre formulaire commentaire*/
.input__title{
    padding: 0.75rem 0.5rem 0.5rem 1rem;
    margin: 0;
}

/* Input Text Commentaire */
.inputComment{
    margin: auto;
}

/*Bouton Créer Commentaire*/
.postIdSubmitButton{
    margin: 0.5rem 1rem 1rem 25%;
    width: 50%;
}

